:root{
    --segoe:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
*, *::after, *::before {
    box-sizing: border-box;
}
section{
    padding-block: 2rem;
}