.button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    width: 100%;
    padding: 8px;
    border: 1px solid var(--grey_lite);
    background-color: var(--lite);
}