.form{
    max-width: 640px;
    display: grid;
    border: 1px solid var(--grey_lite);
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    &.hidden{
        display: none;
    }
}